BasedOnStyle: LLVM
ColumnLimit: 150
IndentWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
AlignConsecutiveMacros: true

AlignConsecutiveDeclarations: true
# AlignConsecutiveAssignments: true