BasedOnStyle: LLVM
ColumnLimit: 150
IndentWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach