BasedOnStyle: LLVM
ColumnLimit: 150
IndentWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
AlignConsecutiveMacros: true